footer {
  width: 100%;
  background-color: #000000;
  bottom: 0;
  padding: 1rem;
}

.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 1rem 0;
  color: #fff;
  width: 100%;
}

footer p {
  color: #fff;
}
