@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background-color: rgb(17 24 39);
  overflow-x: hidden;
}

main {
  overflow-x: hidden;
}
