#about-me {
  margin: 2rem auto;
  h3 {
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 2rem;
  }

  #words {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 4rem 0;

    .image {
      width: 100%;
      img {
        width: 300px;
        height: 300px;
        border-radius: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .word {
      padding: 0.5rem;
      line-height: 2;
      p {
        font-size: 18px;
      }
      .buttons {
        margin-top: 2rem;
        button {
          background-color: $primary-color;
          padding: 1em;
          border: none;
          width: 200px;
          border-radius: 0.5rem;
          color: $light;
          font-size: 1.2rem;
        }
        .downloadCV {
          background: transparent;
          border: 2px solid $primary-color;
        }
      }
    }
  }
}

@media only screen and (max-width: clamp(375px, 550px, 768px)) {
  #about-me {
    width: 80%;
    #words {
      flex-direction: column;
      text-align: center;
      line-height: 10.5;
      width: 100%;
      .word {
        .buttons {
          display: flex;
          justify-content: center;
          // flex-direction: column;
          gap: 0.5rem;
          button {
            font-size: 1rem;
            padding: 1rem;
            width: 150px;
          }
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
}
