#contact {
  margin-block: 1rem 0;

  h1 {
    font-size: 3.5em;
    text-align: center;
    padding-bottom: 0.3rem;
  }

  form {
    margin: 1rem auto;
    padding-inline-end: 2rem;
    .inputgroup {
      width: 100%;
      margin: 1rem;
      input {
        width: 100%;
        padding: 1rem;
        outline-color: red;
        border-radius: 0.5rem;
      }
    }
    button {
      background-color: red;
      padding: 1rem;
      width: 30%;
      border-radius: 0.5rem;
      border: none;
      color: #fff;
      font-size: 1.2rem;
      margin-inline: 1rem;
    }
    textarea {
      outline-color: red;
      border-radius: 0.5rem;
      margin: 1rem;
      width: 100%;
      padding: 1rem;
    }
  }
}
