#contact {
  h1 {
    font-size: 3.5em;
    text-align: center;
    padding-bottom: 0.3rem;
  }

  form {
    margin: 1rem auto;
    padding-inline-end: 2rem;
    width: 90%;
    .inputgroup {
      width: 100%;
      margin: 1rem;
      label {
        line-height: 2;
        font-size: 1rem;
      }
      input {
        width: 100%;
        padding: 1.2rem;
        outline-color: $primary-color;
        border-radius: 0.5rem;
        border: none;
        font-size: 18px;
      }
      #message {
        outline-color: $primary-color;
        border-radius: 0.5rem;
        width: 100%;
        padding: 1.2rem;
        font-family: "Roboto";
        font-size: 18px;
      }
    }
    button {
      background-color: $primary-color;
      padding: 1rem;
      width: 100%;
      border-radius: 0.5rem;
      border: none;
      color: #fff;
      font-size: 1.2rem;
      margin-inline: 1rem;
    }
  }
}
