*::before,
*::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: "roboto";
  background-color: #02020c;
  color: #ffffff;
  overflow: hidden;
  font-size: 90%;
  position: relative;
}

.slide {
  right: 0;
}

// .overlay {
//   position: absolute;
//   background-color: rgba($color: #323232, $alpha: 0.1);
//   backdrop-filter: blur(5px);
//   border-radius: 50%;
//   padding: 50rem;
//   // z-index: -1;
//   overflow: hidden;
// }

hr {
  background-color: #141414;
  border: none;
  height: 0.01rem;
}

@import "header";
@import "main";
@import "about";
@import "portfolio";
@import "contact";
@import "profiles";

a {
  text-decoration: none;
  color: #ffffff;
}
