*::before,
*::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
  background-color: rgba(169, 169, 169, 0.1);
}
header #logo h1 {
  font-size: 2rem;
}
header #logo h1 span {
  color: #ff0000;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  font-size: 1.5rem;
}
header #hamburger {
  display: none;
}

@media only screen and (max-width: 550px) {
  nav {
    position: absolute;
    background-color: rgba(169, 169, 169, 0.5);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    top: 0;
    right: -100%;
    width: 100%;
    height: 1000vh;
    transition: all 0.5s;
    z-index: 1;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
  }
  header {
    position: relative;
    padding: 1.5rem 0.9rem;
  }
  header #hamburger {
    display: block;
    position: absolute;
    top: 2.5rem;
    right: 1rem;
    -webkit-margin-after: 1.5rem;
            margin-block-end: 1.5rem;
    z-index: 1;
  }
  body {
    font-size: 75%;
    line-height: 1.5;
  }
}
#container {
  overflow: hidden;
  width: 100%;
}

#showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
}

#foreword {
  line-height: 1.5;
  text-align: center;
  width: 100%;
}
#foreword h1 {
  font-size: 4em;
}
#foreword .programs {
  line-height: 1.8;
  margin-bottom: 0.8rem;
}
#foreword .programs h3 {
  font-size: 3em;
}
#foreword .btn button {
  background-color: #ff0000;
  padding: 1.2em;
  width: 50%;
  border: none;
  border-radius: 0.5rem;
  color: #ffffff;
  font-size: 1.3rem;
}

@media only screen and (max-width: 550px) {
  #showcase {
    height: 80vh;
  }
  #foreword .btn button {
    font-size: 1rem;
  }
  #foreword .programs {
    font-size: 0.5rem;
  }
}
#about-me {
  margin: 2rem auto;
}
#about-me h3 {
  font-size: 3.5em;
  text-align: center;
  margin-bottom: 2rem;
}
#about-me #words {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 5rem auto;
}
#about-me #words .image {
  width: 100%;
}
#about-me #words .image img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#about-me #words .word {
  padding: 0.5rem;
  line-height: 2;
}
#about-me #words .word .buttons {
  margin-top: 2rem;
}
#about-me #words .word .buttons button {
  background-color: #ff0000;
  padding: 1em;
  border: none;
  width: 200px;
  border-radius: 0.5rem;
  color: #ffffff;
  font-size: 1.2rem;
}
#about-me #words .word .buttons .downloadCV {
  background: transparent;
  border: 2px solid #ff0000;
}

@media only screen and (max-width: 550px) {
  #about-me {
    width: 80%;
  }
  #about-me #words {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 10.5;
  }
  #about-me #words .word .buttons {
    display: flex;
    gap: 0.5rem;
  }
  #about-me #words .word .buttons button {
    font-size: 1rem;
    padding: 1rem;
    width: 150px;
  }
}
#services {
  margin-block: 3rem;
}
#services h1 {
  font-size: 3.5em;
  text-align: center;
  padding-bottom: 0.3rem;
}

#services-container {
  margin-block: 5rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
  align-items: center;
}
#services-container .service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  background-color: #323232;
  border-radius: 50%;
  padding: 5rem;
}
#services-container .service:hover {
  background-color: #ff0000;
  cursor: pointer;
  transition: background-color ease 0.5s;
}
#services-container .service h3 {
  padding: 0.5rem;
  text-align: center;
  margin-top: 0.5rem;
}
#services-container .service p {
  padding: 0.5rem;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 1.5;
}

@media only screen and (max-width: 550px) {
  #services-container {
    flex-wrap: wrap;
    margin-block: 1.8rem;
    gap: 2rem;
  }
  #services-container .service {
    width: 150px;
    height: 150px;
  }
}
#portfolio {
  margin-block: 5rem;
}
#portfolio h1 {
  font-size: 3.5em;
  text-align: center;
  padding-bottom: 0.3rem;
}

#stack-container {
  margin-block: 2.5rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
}
#stack-container .stack {
  background-color: #323232;
  width: 200px;
  border-radius: 0.5rem;
}
#stack-container .stack .img {
  border-radius: 0.5rem;
}
#stack-container .stack .img img {
  border-radius: 0.5rem;
  width: 100%;
}
#stack-container .stack .img img::after {
  content: "Holla";
}
#stack-container .stack h3 {
  padding: 0.5rem;
}
#stack-container .stack p {
  padding: 0.5rem;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 1.5;
}

@media only screen and (max-width: 550px) {
  #stack-container {
    flex-direction: column;
    margin-block: 1.8rem;
  }
  #stack-container .stack {
    width: 300px;
  }
}
#contact h1 {
  font-size: 3.5em;
  text-align: center;
  padding-bottom: 0.3rem;
}
#contact form {
  margin: 1rem auto;
  -webkit-padding-end: 2rem;
          padding-inline-end: 2rem;
  width: 90%;
}
#contact form .inputgroup {
  width: 100%;
  margin: 1rem;
}
#contact form .inputgroup label {
  line-height: 2;
  font-size: 1rem;
}
#contact form .inputgroup input {
  width: 100%;
  padding: 1.2rem;
  outline-color: #ff0000;
  border-radius: 0.5rem;
  border: none;
  font-size: 18px;
}
#contact form .inputgroup #message {
  outline-color: #ff0000;
  border-radius: 0.5rem;
  width: 100%;
  padding: 1.2rem;
  font-family: "Roboto";
  font-size: 18px;
}
#contact form button {
  background-color: #ff0000;
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  margin-inline: 1rem;
}

#profiles {
  margin-block: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
#profiles .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

body {
  font-family: "roboto";
  background-color: #02020c;
  color: #ffffff;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  transition: all ease 0.5s;
}

#site-container {
  overflow: hidden;
}

#lang {
  position: relative;
  color: red;
}

#lang::after {
  content: "";
  position: absolute;
  top: 2px;
  border-right: 2px solid #ffffff;
  width: 1px;
  height: 90%;
  -webkit-animation: blink 0.5s infinite linear;
          animation: blink 0.5s infinite linear;
}

@-webkit-keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.slide {
  right: 0;
}

hr {
  background-color: #141414;
  border: none;
  height: 0.01rem;
}

a {
  text-decoration: none;
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */