*::before,
*::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import "customs";
@import "header";
@import "main";
@import "about";
@import "services";
@import "portfolio";
@import "contact";
@import "profiles";

body {
  font-family: "roboto";
  background-color: $body-bg;
  color: $light;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  transition: all ease 0.5s;
}

*.light {
  background-color: $light;
  color: $body-bg;
}

.dark {
  background-color: $body-bg;
  color: $light;
}

#site-container {
  overflow: hidden;
}

#lang {
  position: relative;
  color: red;
}
#lang::after {
  content: "";
  position: absolute;
  top: 2px;
  border-right: 2px solid #ffffff;
  width: 1px;
  height: 90%;
  animation: blink 0.5s infinite linear;
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.slide {
  right: 0;
}

// .overlay {
//   position: absolute;
//   background-color: rgba($color: #323232, $alpha: 0.1);
//   backdrop-filter: blur(5px);
//   border-radius: 50%;
//   padding: 50rem;
//   // z-index: -1;
//   overflow: hidden;
// }

hr {
  background-color: #141414;
  border: none;
  height: 0.01rem;
}

.a {
  color: $dark !important;
}
a {
  text-decoration: none;
  color: $primary-color;
}
