#about-me {
  margin: 5rem auto;
  h3 {
    font-size: 3.5em;
    text-align: center;
    margin-bottom: 2rem;
  }

  #words {
    display: flex;
    // gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;

    .image {
      width: 100%;
      img {
        width: 300px;
        height: 300px;
        border-radius: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .word {
      padding: 0.5rem;
      line-height: 2;

      .buttons {
        margin-top: 2rem;
        button {
          background-color: red;
          padding: 1em;
          border: none;
          width: 200px;
          border-radius: 0.5rem;
          color: #fff;
          font-size: 1.2rem;
        }
        .downloadCV {
          background: transparent;
          border: 2px solid red;
        }
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  #about-me {
    width: 80%;
    #words {
      flex-direction: column;
      width: 100%;
      text-align: center;
      align-items: center;
      justify-content: center;
      line-height: 10.5;
    }
    .word {
      .buttons {
        display: flex;
        // flex-direction: column;
        gap: 0.5rem;
        font-size: 0.9rem;
        padding: 0.9rem;
      }
      p {
        padding: 1.5rem;
      }
    }
  }
}
