header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 1.5rem;

  #logo {
    h1 {
      font-size: 2rem;
      // background-color: linear-gradient(red, 2%, 5%);
      span {
        // color: red;
      }
    }
  }

  nav {
    ul {
      list-style: none;
      display: flex;
      gap: 1.5rem;
      font-size: 1.4rem;
    }
  }
}
