header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 1.5rem;

  #logo {
    h1 {
      font-size: 2rem;
      // background-color: linear-gradient(red, 2%, 5%);
      span {
        // color: red;
      }
    }
  }

  nav {
    ul {
      list-style: none;
      display: flex;
      gap: 1.5rem;
      font-size: 1.5rem;
    }
  }

  #hamburger {
    display: none;
  }
}

@media only screen and (max-width: clamp(375px, 550px, 768px)) {
  nav {
    display: none;
  }

  header {
    #hamburger {
      display: block;
    }
  }

  body {
    font-size: 75%;
    line-height: 1.5;
  }
}
