#container {
  overflow: hidden;
  width: 100%;
}

#showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
}

#foreword {
  line-height: 1.5;
  text-align: center;

  h1 {
    font-size: 4em;
    #welcome {
      color: red;
    }
  }
  .programs {
    line-height: 1.8;
    h3 {
      font-size: 3em;
    }
    margin-bottom: 0.8rem;
  }
  .btn button {
    background-color: red;
    padding: 1.2em;
    width: 50%;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 550px) {
  #showcase {
    height: 80vh;
  }
}
