#portfolio {
  margin-block: 5rem;
  h1 {
    font-size: 3.5em;
    text-align: center;
    padding-bottom: 0.3rem;
  }
  .line-cont {
    margin-left: 430px;
    margin-bottom: 2rem;

    .line {
      background-color: red;
      width: 3rem;
      height: 5px;
      border-radius: 0.2rem;
    }
  }
}

#stack-container {
  margin-block: 2.5rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;

  .stack {
    background-color: #323232;
    width: 200px;

    border-radius: 0.5rem;

    .img {
      border-radius: 0.5rem;
      img {
        border-radius: 0.5rem;
        width: 100%;
        &::after {
          content: "Holla";
        }
      }
    }
    h3 {
      padding: 0.5rem;
    }
    p {
      padding: 0.5rem;
      font-weight: 300;
      font-size: 0.8rem;
      line-height: 1.5;
    }
  }
}
