html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::before,
*::after,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "roboto";
  background-color: #02020c;
  color: #ffffff;
  overflow-x: clip;
  font-size: 90%;
  position: relative;
}

hr {
  background-color: #141414;
  border: none;
  height: 0.01rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 1.5rem;
}
header #logo h1 {
  font-size: 2rem;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  font-size: 1.5rem;
}
header #hamburger {
  display: none;
}

@media only screen and (max-width: 550px) {
  nav {
    display: none;
  }
  header #hamburger {
    display: block;
  }
  body {
    font-size: 75%;
    line-height: 1.5;
  }
}
#container {
  overflow: hidden;
  width: 100%;
}

#showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
}

#foreword {
  line-height: 1.5;
  text-align: center;
}
#foreword h1 {
  font-size: 4em;
}
#foreword h1 #welcome {
  color: red;
}
#foreword .programs {
  line-height: 1.8;
  margin-bottom: 0.8rem;
}
#foreword .programs h3 {
  font-size: 3em;
}
#foreword .btn button {
  background-color: red;
  padding: 1.2em;
  width: 50%;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.3rem;
}

@media only screen and (max-width: 550px) {
  #showcase {
    height: 80vh;
    font-size: 0.6rem;
  }
  #foreword .btn button {
    font-size: 1rem;
  }
}
#about-me {
  margin: 5rem auto;
}
#about-me h3 {
  font-size: 3.5em;
  text-align: center;
  margin-bottom: 2rem;
}
#about-me #words {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#about-me #words .image {
  width: 100%;
}
#about-me #words .image img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
#about-me #words .word {
  padding: 0.5rem;
  line-height: 2;
}
#about-me #words .word .buttons {
  margin-top: 2rem;
}
#about-me #words .word .buttons button {
  background-color: red;
  padding: 1em;
  border: none;
  width: 200px;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.2rem;
}
#about-me #words .word .buttons .downloadCV {
  background: transparent;
  border: 2px solid red;
}

@media only screen and (max-width: 550px) {
  #about-me {
    width: 80%;
  }
  #about-me #words {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 10.5;
  }
  #about-me #words .word .buttons {
    display: flex;
    gap: 0.5rem;
  }
  #about-me #words .word .buttons button {
    font-size: 1rem;
    padding: 1rem;
    width: 150px;
  }
}
#portfolio {
  margin-block: 5rem;
}
#portfolio h1 {
  font-size: 3.5em;
  text-align: center;
  padding-bottom: 0.3rem;
}

#stack-container {
  margin-block: 2.5rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  align-items: center;
}
#stack-container .stack {
  background-color: #323232;
  width: 200px;
  border-radius: 0.5rem;
}
#stack-container .stack .img {
  border-radius: 0.5rem;
}
#stack-container .stack .img img {
  border-radius: 0.5rem;
  width: 100%;
}
#stack-container .stack .img img::after {
  content: "Holla";
}
#stack-container .stack h3 {
  padding: 0.5rem;
}
#stack-container .stack p {
  padding: 0.5rem;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 1.5;
}

@media only screen and (max-width: 550px) {
  #stack-container {
    flex-direction: column;
    margin-block: 1.8rem;
  }
  #stack-container .stack {
    width: 300px;
  }
}
#contact {
  margin-block: 5rem auto;
}
#contact h1 {
  font-size: 3.5em;
  text-align: center;
  padding-bottom: 0.3rem;
}
#contact form {
  width: 90%;
  margin: 0 auto;
  padding: 1rem;
}
#contact form .inputgroup {
  width: 100%;
  margin: 1rem;
}
#contact form .inputgroup input {
  width: 100%;
  padding: 1rem;
  outline-color: red;
  border-radius: 0.5rem;
}
#contact form button {
  background-color: red;
  padding: 1rem;
  width: 30%;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  margin-inline: 1rem;
}
#contact form textarea {
  outline-color: red;
  border-radius: 0.5rem;
  margin: 1rem;
  width: 100%;
  padding: 1rem;
}

#profiles {
  margin-block: 5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

a {
  text-decoration: none;
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */